<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>25</string>
		<key>Icon</key>
		<string>25</string>
		<key>Name</key>
		<string>Pikachu</string>
		<key>HP</key>
		<integer>35</integer>
		<key>ATT</key>
		<integer>55</integer>
		<key>DEF</key>
		<integer>30</integer>
		<key>S.ATK</key>
		<integer>50</integer>
		<key>S.DEF</key>
		<integer>40</integer>
		<key>Speed</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>ID</key>
		<string>26</string>
		<key>Icon</key>
		<string>26</string>
		<key>Name</key>
		<string>Raichu</string>
		<key>HP</key>
		<integer>60</integer>
		<key>ATT</key>
		<integer>90</integer>
		<key>DEF</key>
		<integer>55</integer>
		<key>S.ATK</key>
		<integer>90</integer>
		<key>S.DEF</key>
		<integer>80</integer>
		<key>Speed</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>ID</key>
		<string>81</string>
		<key>Icon</key>
		<string>81</string>
		<key>Name</key>
		<string>Magnemite</string>
		<key>HP</key>
		<integer>25</integer>
		<key>ATT</key>
		<integer>35</integer>
		<key>DEF</key>
		<integer>70</integer>
		<key>S.ATK</key>
		<integer>95</integer>
		<key>S.DEF</key>
		<integer>55</integer>
		<key>Speed</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>ID</key>
		<string>82</string>
		<key>Icon</key>
		<string>82</string>
		<key>Name</key>
		<string>Magneton</string>
		<key>HP</key>
		<integer>50</integer>
		<key>ATT</key>
		<integer>60</integer>
		<key>DEF</key>
		<integer>95</integer>
		<key>S.ATK</key>
		<integer>120</integer>
		<key>S.DEF</key>
		<integer>70</integer>
		<key>Speed</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>ID</key>
		<string>145</string>
		<key>Icon</key>
		<string>145</string>
		<key>Name</key>
		<string>Zapdos</string>
		<key>HP</key>
		<integer>40</integer>
		<key>ATT</key>
		<integer>30</integer>
		<key>DEF</key>
		<integer>50</integer>
		<key>S.ATK</key>
		<integer>55</integer>
		<key>S.DEF</key>
		<integer>55</integer>
		<key>Speed</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>ID</key>
		<string>243</string>
		<key>Icon</key>
		<string>243</string>
		<key>Name</key>
		<string>Raikou</string>
		<key>HP</key>
		<integer>60</integer>
		<key>ATT</key>
		<integer>50</integer>
		<key>DEF</key>
		<integer>70</integer>
		<key>S.ATK</key>
		<integer>80</integer>
		<key>S.DEF</key>
		<integer>80</integer>
		<key>Speed</key>
		<integer>140</integer>
	</dict>
</array>
</plist>
